*{
    margin: 0;
    padding: 0;
    
}

header ul{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(245, 243, 243);
    height: 50px;
    
}
header #logo{
    margin: auto 40%;
    margin-bottom: 20px;
    
}
#search{
    border-radius: 10px;
    background-image: url('./images/search1.png');
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 10px;
    padding-right: 20px;
    background-size: contain;
    
}
header ul li, header ul li a{
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    color:rgb(32, 31, 31);
    font-weight: bold;

}
.home{
    display: grid;
    grid-template-columns: 50% 50%;
    /* border: 1px solid black; */
    margin-bottom: 50px;
    
}
.homeLeft{
    margin: 30px;
    margin-top: 120px;
    margin-left: 100px;
    padding: 20px;
    font-size: 30px;
}
#b-sellers{
    margin-left: 10px;
}
.homeRight{
    margin: 30px;
    margin-top: 70px;

    padding: 20px;
    width: 20%;
    height: 200px;
}

.bestSeller{
    display: grid;
    grid-template-columns: 33.33% 33.3% 33.3%;
    /* border: 1px solid black; */
    margin: 40px;
    padding: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.bestSellerItem{
    background-image: url('./images/bs1.jpg');
   margin-bottom: 40px;
   /* margin: 20px; */
    /* border: 1px solid red; */
    width:60%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
#books-heading{
margin-left: 10px;
}
.books{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin:60px;
    /* margin-left: 100px; */
 
}
.description{
    background-color: rgb(190, 189, 189);
    color: white;

}
button{
    background-color: rgb(190, 189, 189);
    color: white;
}
.contact{
    text-align: center;
    background-color: rgb(245, 243, 243);
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 200px;
}
.undeline{
    text-decoration:underline;
    text-decoration: solid 2px black;
}

.booksItems{
    background-image: url('./images/bookforreading2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 300px;
    margin-bottom: 40px;

}

.icons{
    border-radius: 50%;
    width: 60px;
    padding: 10px;
}
.icons:hover{
    width: 65px;
   cursor: pointer;
}
.footer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.footerItem{
    margin-left: 40px;
    margin-top: 20px;
}

@media(max-width:900px){
    .home{
        grid-template-columns: 100%;
       
        
    }
    .bestSeller{
        grid-template-columns: 100%;
       
    }
    .books{
        grid-template-columns: 100%;
        
    }
    .footer{
        grid-template-columns: 100%;
        
    }
}